*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.game{
    margin-top: 40px;
    display: flex;
    width: 45vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}
.box{
    width: 14vw;
    height: 20vh;
    border: none;
    border-radius: 10px;
    background-color: rgb(254, 254, 127);
    color: rgb(5, 6, 6);
    font-size: 50px;
}

.reset-btn{
    background-color: black;
    margin-top: 20px;
    border: none;
    color: #fff;
    width: 12vw;
    height: 8vh;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
}
.msg{
   text-align: center;
   font-size: 60px;
    font-weight: 900;
   color: rgba(0, 208, 255, 0.729);
}
.newgame-btn{
    background-color: rgba(236, 6, 240, 0.715);
    color: #fff;
    border: none;
    width: 12vw;
    height: 8vh;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.hide{
    display: none;
}

.newgame-btn:hover{
    width: 13vw;
    height: 8vh;
    font-size: 20px;
    font-weight: 700;
    border-radius: 24px;
    cursor: pointer;
}

